.ios, .md {

    page-home {        

        .emoji-img {
            height: 30%;
            position: absolute;
            top: 25%;
            left: 25%;
        }

        .food-img {            
            height: 10%;
            position: absolute;
            bottom: 5%;
            left: 40%;
        }        
    }
}
